@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
}

:root {
  --white-color: #e6f1ff;
  --light-blue: #ccd6f6;
  --light-slate: #a8b2d1;
  --lightest-navy: #233554;
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;
}

body {
  background-color: #0a192f;
  letter-spacing: 0.8px;
  overflow-x: hidden;
}

.overflow {
  overflow: hidden;
}

.hamburger {
  display: none;
  transition: all 0.4s ease-in-out;
  z-index: 14;
}

.center {
  transform: translateX(5px);
}

.toggle .line1 {
  transform: translate(-5px, 6px) rotate(-45deg);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: translate(-5px, -6px) rotate(45deg);
}

a {
  text-decoration: none;
}

.btn {
  padding: 1rem 1.6rem;
  font-size: 1.3rem;
  border: solid var(--green) 1px;
  border-radius: 40px;
  color: var(--green);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--green-tint);
  outline: none;
}

.height {
  height: 17rem;
  width: 100%;
}

.height__2 {
  height: 25rem;
  width: 100%;
}

.light__word {
  color: var(--green);
  position: relative;
  cursor: pointer;
}

.light__word::after {
  content: "";
  display: block;
  height: 1px;
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--green);
  transition: all 0.3s ease-in-out;
}

.light__word:hover::after {
  width: 100%;
}

/**************SOCIAL************/

.social {
  position: fixed;
  bottom: 0;
  left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 11;
  gap: 2rem;
}

.social::after {
  content: " ";
  display: block;
  width: 1px;
  height: 9rem;
  background-color: var(--light-slate);
  margin: 0 auto;
}

.social > a > i {
  font-size: 2rem;
  color: var(--light-slate);
  transition: all 0.3s ease;
}

.social > a:hover > i {
  transform: translateY(-3px);
}

.social__mail {
  position: fixed;
  bottom: 0;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 11;
  gap: 8.5rem;
}

.social__mail::after {
  content: " ";
  display: block;
  width: 1px;
  height: 9rem;
  background-color: var(--light-slate);
  margin: 0 auto;
}

.mail {
  transform: rotate(90deg);
  font-size: 1.2rem;
  color: var(--slate);
  transition: all 0.4s ease-in-out;
}

.mail:hover {
  transform: translateY(-10px) rotate(90deg);
}
/***************HEADER***************/

.header {
  width: 100%;
  height: 9.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 5.5rem;
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  background-color: rgba(10, 25, 47, 0.85);
}

.header__shadow {
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

.scroll {
  position: fixed;
  top: -9.8rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.nav {
  transition: all 0.4s ease-out;
}

.nav > .btn {
  margin-left: 1.5rem;
  background-color: var(--green);
  color: white;
}

.nav > .btn:hover {
  background-color: transparent;
}

.nav__item {
  color: var(--light-blue);
  font-size: 1.3rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.nav__item:hover {
  color: var(--green);
}

.number {
  color: var(--green);
  margin-right: 0.6rem;
}

/*****************HERO*******************/

.hero {
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero__wave {
  position: absolute;
  bottom: 0;
}

.hero__content {
  width: 100rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.5s ease-in-out;
}

.hero__heading--primary {
  font-size: 8rem;
  color: var(--light-blue);
  padding: 1rem 0;
}

.hero__heading--secondary {
  color: var(--slate);
  line-height: 0.9;
  font-size: 8rem;
}

.hero__descripiton {
  margin-top: 3.6rem;
  max-width: 540px;
  font-size: 1.9rem;
  color: var(--slate);
  z-index: 10;
}

.hero__descripiton > span {
  color: var(--green);
}

.hero__btn {
  font-size: 1.4rem;
  margin-top: 5rem;
  padding: 2rem 2.8rem;
  line-height: 1;
  z-index: 10;
  word-spacing: 0.3rem;
}

.subheading {
  margin-left: 0.4rem;
  font-size: 1.8rem;
  color: var(--green);
}

/***************WAVE*****************/

.wave {
  position: relative;
}

.bestsellers__wave {
  transform: rotate(180deg);
  position: absolute;
  top: -2px;
}

/************HOW TO USE***************/

.bestsellers {
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 35rem;
  z-index: 10;
  margin-top: 33rem;
}

.bestsellers__content--title {
  margin-bottom: 10rem;
  line-height: 1.1;
  position: relative;
}

.bestsellers__heading--primary {
  font-size: 3.2rem;
  color: var(--light-blue);
}

.bestsellers__heading--primary > .number {
  font-size: 2.4rem;
  margin-right: 1rem;
}

.bestsellers__heading--primary::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14px;
  height: 1px;
  width: 30rem;
  background-color: var(--lightest-navy);
  left: 24rem;
}

.bestsellers__gird {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 10rem;
}

.bestsellers__content--text {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 0.7s all ease-out;
}

.bestsellers__content--text > .number {
  font-size: 9rem;
}

.bestsellers__content--text > p {
  font-size: 1.9rem;
  color: var(--slate);
  line-height: 1.6;
}

.bestsellers__heading--secondary {
  font-size: 2.8rem;
  color: var(--light-blue);
  margin-bottom: 3.2rem;
}

.bestesellers__content--img {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bestesellers__content--img::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 70%;
  background-color: var(--green);
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bestesellers__content--img::before {
  content: "";
  display: block;
  position: absolute;
  width: 65%;
  height: 90%;
  background-color: var(--green-tint);
  border-radius: 50%;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bestesellers__content--img > img {
  width: 35%;
  z-index: 10;
}

/***************Comment*******************/

.comment {
  margin: 0 auto;
  margin-top: 30rem;
  max-width: 140rem;
  margin-bottom: 45rem;
}

.comment > .height {
  height: 5rem;
}

.comment__content--title {
  margin-bottom: 10rem;
  line-height: 1.1;
  position: relative;
}

.comment__heading--primary {
  font-size: 3.2rem;
  color: var(--light-blue);
}

.comment__heading--primary > .number {
  font-size: 2.4rem;
  margin-right: 1rem;
}

.comment__heading--primary::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  height: 1px;
  width: 30rem;
  background-color: var(--lightest-navy);
  left: 21rem;
}

.comment__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  transition: all 0.5s ease-in;
}

.comment__user--first {
  padding: 3.5rem;
  grid-row: 1/3;
  background-color: var(--light-navy);
  border-radius: 10px;
  box-shadow: 0 10px 20px #0000004d;
}
.comment__profile {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.comment__stars {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.comment__stars > h3 {
  color: var(--light-blue);
  font-size: 1.8rem;
}

.comment__stars > div > i {
  color: var(--green);
}

.comment__profile > img {
  border-radius: 50%;
  height: 5.2rem;
  width: 5.2rem;
}

.comment__user--first > h2 {
  font-size: 2.4rem;
  color: var(--light-blue);
  margin-bottom: 0.5rem;
}

.comment__user--first > p {
  color: var(--slate);
  font-size: 1.4rem;
}

.comment__user--first:nth-child(2) {
  grid-row: 1/2;
  grid-column: 2/4;
}

.comment__user--first:nth-child(3) {
  grid-row: 2;
  grid-column: 2/3;
}

.comment__user--first:nth-child(4) {
  grid-row: 2;
  grid-column: 3/5;
}

.comment__user--first:nth-child(5) {
  grid-row: 1;
  grid-column: 4/5;
}

/***************Customers******************/

.customers {
  max-width: 90rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.customers::before {
  content: "";
  display: block;
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--green);
  left: -95rem;
  top: 10rem;
}

.customers__box {
  width: 25rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 3rem 0;
  border-radius: 10px;
  background-color: var(--light-navy);
  border-bottom: 10px solid var(--green);
}

.customers__box > i {
  font-size: 5rem;
  color: var(--green);
}

.customers__box > span {
  color: var(--white);
  font-size: 1.6rem;
}

.customers__box > span:first-of-type {
  font-size: 4rem;
  font-weight: 600;
}

/**************CONTACT**************/

.contact {
  max-width: 80rem;
  background-color: var(--light-navy);
  border-radius: 40px;
  margin: 0 auto;
  padding: 5rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15rem;
  position: relative;
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
}

.contact::before {
  content: "";
  display: block;
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--green);
  right: -100rem;
  top: 35rem;
}

.contact__text {
  width: 100%;
}
.contact__heading--primary {
  font-size: 3.2rem;
  color: var(--light-blue);
  line-height: 1.1;
  text-align: center;
  margin-bottom: 4rem;
}

.contact__heading--secondary {
  font-size: 2.5rem;
  color: var(--light-blue);
  margin-bottom: 2rem;
}

.contact__description {
  font-size: 1.9rem;
  color: var(--slate);
  line-height: 1.3;
}

.contact__form {
  width: 100%;
  height: 100%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  row-gap: 4rem;
}

/***/

.contact__form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  height: 5rem;
  overflow: hidden;
}

input {
  outline: none;
  border: none;
  padding: 0 0.5rem;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  color: white;
  background-color: inherit;
}

label {
  color: var(--white);
  font-size: 1.2rem;
  position: absolute;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--white);
}

label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid var(--green);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content__name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

input:focus + label .content__name,
input:valid + label .content__name {
  transform: translateY(-150%);
  font-size: 1.4rem;
  color: var(--green);
}

.empty__input {
  transform: translateY(-150%);
  font-size: 1.4rem;
  color: var(--green);
}

input:focus + label::after {
  transform: translateX(0%);
}

/***/

.form__btn {
  color: white;
  background-color: var(--green);
  padding: 0.5rem;
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  border-radius: 40px;
  border: solid var(--green) 1px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  height: 4.5rem;
}

.form__btn:hover {
  background-color: transparent;
  color: var(--green);
}
/**********COMPANY*************/

.company {
  max-width: 110rem;
  margin: 0 auto;
  margin-bottom: 32rem;
}

.company__content--title {
  margin-bottom: 10rem;
  line-height: 1.1;
  position: relative;
}

.company__heading--primary {
  font-size: 3.2rem;
  color: var(--light-blue);
}

.company__heading--primary > .number {
  font-size: 2.4rem;
  margin-right: 1rem;
}

.company__heading--primary::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  height: 1px;
  width: 30rem;
  background-color: var(--lightest-navy);
  left: 24.5rem;
}

.company__content {
  display: grid;
  grid-template-columns: 55fr 45fr;
  column-gap: 2rem;
  transition: 0.7s all ease-in;
}

.company__content--text {
  font-size: 1.9rem;
  line-height: 1.3;
  color: var(--slate);
}

.company__content--img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
  object-fit: cover;
}

.company__content--img > img {
  width: 100%;
  height: 100%;
}

/************DOWNLOAD**************/

.download {
  max-width: 80rem;
  padding: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.download__heading--primary {
  font-size: 3.2rem;
  color: var(--light-blue);
  margin-bottom: 1.8rem;
}

.download__description {
  font-size: 1.9rem;
  color: var(--slate);
  margin-bottom: 4rem;
  text-align: center;
}

.download__btn {
  font-size: 2rem;
  padding: 1.6rem 2.8rem;
}

.download__wave {
  position: absolute;
  bottom: 0;
  color: var(--green);
  pointer-events: none;
  z-index: -1;
}

/**********FOOTER*************/

.footer {
  width: 100%;
  height: 24rem;
  background-color: transparent;
  display: flex;
  padding: 4rem;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.footer > p {
  cursor: default;
  color: var(--slate);
  font-size: 1.2rem;
  transition: 0.4s all ease-in-out;
  line-height: 1;
}

.footer > p:hover {
  color: var(--green);
}

.footer::after {
  content: "";
  display: block;
  width: 70rem;
  height: 70rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--green);
  left: -40rem;
  bottom: -50rem;
}

.fade--left {
  transform: translateX(-30rem);
  opacity: 0;
}

.fade--right {
  transform: translateX(30rem);
  opacity: 0;
}

.fade--up {
  transform: translateY(30rem);
  opacity: 0;
}

.fade {
  opacity: 0;
  transform: scale(0.5);
}
